
*{
  font-family: "Poppins",sans-serif;
}

/* -------------------Header-------------------------------- */

.header-div{
  background-color: #F55A5A;
  font-size: 17px;
  color: white;

}

.header-text{
  padding: 15px;
}

/* ----------------Body--------------- */

.body-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* -------------------------Travel Cards------------------------ */

.card-div{
  display: flex !important; 
  flex-direction: row !important;
  border: 0px !important;
  width: 570px;
  padding: 40px 20px;
  column-gap: 30px;
  flex: 0 0 1;
}

.img-div{
  width: 30%;
}

.travel-img{
  max-width: 100% !important;
  height: 250px;
  border-radius: 5px;
}

.content-div{
  width: 70%;
  margin-top: 25px;
}

.content-top-div{
  display: flex;
}

.travel-date{
  font-weight: bold;
  font-size: 13px;
}

.location-img{
  width: 20px;
}

.location-text{
  color: black;
  letter-spacing: 1.2px;
}

.map-link{
  margin-left: 20px;
  
}

.map-link a{
  color: gray;
  font-size: 13px;
}

.travel-description{
  font-size: 13px;
}

/* ----------------------Responsive------------------- */

/* ----------TWO WAYS OF Responsiveness------------------ */



/* 
@media only screen and (max-width: 600px) {
  .card-div {
   width: 100% !important;
   column-gap: 5px;
  }
  .img-div{
    width: 40%;
  }
  .travel-img{
    height: 250px;
  }
  .content-div{
    width: 60%;
    margin-top: 10px;
  }

  .travel-description{
    font-size: 10px;
  }
  .content-top-div{
    display: block;
  }
  .map-link{
    margin-left: 5px;
    
  }
} */

@media only screen and (max-width: 600px) {
  
.card-div{
  display: flex !important; 
  flex-direction: column !important;
  width: 100%;
} 
.content-top-div{
  display: flex;
  flex-direction: column;
}
.map-link{
  margin-left: 0px;
  
}
.img-div{
  width: 100%;
}

.content-div{
  width: 100%;
  margin-top: 10px;
}

.location-text{
  color: black;
  letter-spacing: 1.2px;
  text-align: center;
}

}
